extends layout

block content
  h1= title
  p Welcome to #{title}
  if (message_list)
    p Messages:
    ul
      - message_list.sort(function(a, b) { let dateA = a.date; let dateB = b.date; return (dateA < dateB) ? -1 : (dateA > dateB) ? 1 : 0;})
      each message in message_list
        li
          h2 #{message.title}
            if (user.membership_status == true)
              h3 #{message.user.username} said #{message.text} at #{message.timestamp_formatted}
            else
              h3 A user said #{message.text} at none-of-your-business o'clock.
            if (user.admin_status == true)
              div.form-group
                a(class='button' type='submit' href=message.url+'/delete') Delete